html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 3.5rem;
}
div.row {
  padding-bottom: 70px;
  margin-bottom: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #a3a3a3;
  padding: 0 10px 0 0;
  margin: auto;
}
.logoo {
  margin: 10px 20px 10px;
}
.navi {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}
.navi li {
  align-self: right;
  display: inline-block;
  list-style-type: none;
  font-size: 1.2em;
  padding: 10px 10px 0;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
a {
  color: #fff;
}
.row {
  padding: 10px;
}
.art {
  margin: 10px auto;
}
.card {
  padding-top: 10px;
}
.art-thumb {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.snowflake {
  align-self: center;
  width: 4cm;
  height: 4cm;
}
.col {
  margin: 10px;
}
.card-body {
  text-align: justify;
  height: 112px;
  padding: 5px 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
.card-title {
  text-align: center;
  font-weight: bold;
  color: black;
}
/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: end;
  padding: 0 20px 20px 20px;
} */
.readmore,
.readmore:hover {
  color: blue;
  padding: 5px;
}
.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3.5rem;
  text-align: end;
  background-color: #a3a3a3;
}
.foot {
  color: #fff;
  text-align: center;
  margin: 1em;
  padding: 0 20px 20px 20px;
}
.form {
  margin-top: 60px;
}
button {
  background-color: #18aedf;
  border: none;
  width: 75px;
  height: 35px;
  border-radius: 15px;
}
label {
  padding-left: 10px;
}
textarea {
  border-radius: 15px;
}
